.main-header{
  color: rgb(28, 45, 117);
}
.board{
  border: 1px solid black;
  padding: 2rem;
}

.cell{
  display: inline-block;
  background: grey;
  border: 1px solid blue;
  padding: 1rem;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.ship{
  background: red;
}

.board-label {
  display: block;
  margin-bottom: 1rem;
}

.disabled {
  pointer-events: none;
}

.attack-success {
  background-color: yellow;
}

.attack-missed {
  background-color: aqua;
}