.main-header{
  color: rgb(28, 45, 117);
}
.board{
  border: 1px solid black;
  padding: 2rem;
}

.cell{
  display: inline-block;
  background: grey;
  border: 1px solid blue;
  padding: 1rem;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.ship{
  background: red;
}

.board-label {
  display: block;
  margin-bottom: 1rem;
}

.disabled {
  pointer-events: none;
}

.attack-success {
  background-color: yellow;
}

.attack-missed {
  background-color: aqua;
}

.end-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0,0,0,.8);
  text-align: center;
}

.end-game-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
}

.end-game-h2 {
  color: #fff;
}

.btn-end-game {

}

.hidden {
  display: none;
}